# if Statment

In [2]:
a= 10
b=20

In [6]:
a!=b

True

In [ ]:
a=10
b=20
if a < b:
    print("if block")
    
else:
    print("else block")

In [2]:

temp = int(input("Enter the temperature today"))# type casting

if temp>30:
    print("its hot weather today")
else:
    print("normal weather")

Enter the temperature today34
its hot weather today

# Nested If's

In [5]:
cnic = input("do you  have cnic?")
if cnic=='yes':
    print("ander chalay jaen")
    nameinlist = input("is my name in list?")
    if nameinlist=='yes':
        print("please caste your vote")
    else:
        print("you can not caste vote")

else:
    print("you cant caste vote")

do you  have cnic?yes
ander chalay jaen
is my name in list?no
you can not caste vote

In [ ]:
education@piaic.org

# if elif else

In [13]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
     grade = "A*"
elif marks>=80:
     grade = "A"
elif marks>=70:
     grade="B"
elif marks>=60:
     grade = "C"
elif marks>=50:
     grade = "D"
else:
     grade ="Ungraded"
    
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :45
your marks are 45 and your grade is Ungraded

In [16]:
cnic = input("do you  have cnic?")
# this is a comment 

nameinlist = input("is my name in list?")

if (cnic=='yes') and (nameinlist=='yes'):
    print("caste your vote")# this is  a print function
                            # this empty line
else:
    '''dfkdfkdjfkdfkjdkjfdkfjkdjfkd
    jfkdjfkdjfkjdfkjd
    kfjdkjfkd
    jfkjdfkjd
    
    k
    
    fjdkjf'''
    print("you can not")

do you  have cnic?no
is my name in list?yes
you can not

# list

In [19]:
#print("helo")

In [20]:
# print("helo")
# print("helo")
# print("helo")
# print("helo")
# print("helo")

helo
helo
helo

In [2]:
students = ["asad", 'nasir', 'aisha', 'fatima']
#index         0        1        2        3

In [3]:
type(students)

list

In [4]:
students[1]

'nasir'

In [5]:
students[4]

IndexError: list index out of range

In [6]:
list1 = ['strig', 34, 34.6, True]
list1

['strig', 34, 34.6, True]

In [7]:
students

['asad', 'nasir', 'aisha', 'fatima']

In [8]:
newList = []

In [10]:
newList.append(299)
newList

[23, 299]

In [11]:
del newList[1]
newList

[23]

In [12]:
newList[0] = 3499
newList

[3499]

In [13]:
newList.insert(1, 'hussain') # to check signature: shift + tab
newList

[3499, 'hussain']

In [18]:
newList.insert(100, 'nasir')
newList

[3499, 'hussain', 'yasir', 'yasir', 'nasir']

In [17]:
newList.index('yasir')

2

In [19]:
newList.remove('nasir')
newList

[3499, 'hussain', 'yasir', 'yasir']

In [29]:
students.append("hussain")
students

['asad', 'nasir', 'aisha', 'fatima', 'hussain', 'hussain', 'hussain']

In [30]:
students.insert(3,"abcd")

In [31]:
students

['asad', 'nasir', 'aisha', 'abcd', 'fatima', 'hussain', 'hussain', 'hussain']

In [32]:
del students[3]

In [33]:
students

['asad', 'nasir', 'aisha', 'fatima', 'hussain', 'hussain', 'hussain']

In [34]:
students[2]="komal"

In [35]:
students

['asad', 'nasir', 'komal', 'fatima', 'hussain', 'hussain', 'hussain']

In [21]:
cities = ['karachi', 'lahore', 'peshawar', 'quetta']

In [22]:
cities.remove('peshawar')
cities

['karachi', 'lahore', 'quetta']

In [24]:
cities.append('karachi')
cities

['karachi', 'lahore', 'quetta', 'peshawar', 'karachi']

In [25]:
cities.remove('karachi',2)
cities

TypeError: remove() takes exactly one argument (2 given)

In [26]:
marks = [46, 3, 78, 33, 89, 99, 23]

In [27]:
marks.sort()
marks

[3, 23, 33, 46, 78, 89, 99]

In [28]:
marks.sort(reverse=True) # to sort list in descending order
marks

[99, 89, 78, 46, 33, 23, 3]

In [31]:
cities = ['karachi', 'lahore', 'peshawar', 'quetta', 'karachi', 'a']

In [32]:
cities.sort()
cities

['a', 'karachi', 'karachi', 'lahore', 'peshawar', 'quetta']

In [33]:
cities.sort(reverse=True)
cities

['quetta', 'peshawar', 'lahore', 'karachi', 'karachi', 'a']

In [34]:
students = ['ali', 378, 'hussain', 'karachi', 'a', 56, 45, 2]

In [35]:
students.sort()
students

TypeError: '<' not supported between instances of 'int' and 'str'

In [36]:
marks

[99, 89, 78, 46, 33, 23, 3]

In [37]:
list2 = marks
list2

[99, 89, 78, 46, 33, 23, 3]

In [39]:
del marks[2]
list2

[99, 89, 33, 23, 3]

In [40]:
list3 = list2.copy()

In [41]:
list3

[99, 89, 33, 23, 3]

In [42]:
list2.append(499)
list3

[99, 89, 33, 23, 3]

In [43]:
list2

[99, 89, 33, 23, 3, 499]

In [44]:
list2.reverse()
list2

[499, 3, 23, 33, 89, 99]

In [45]:
list2.clear()
list2

[]

In [92]:
numbers = [29, 67, 45, 3, 89, 90]

In [53]:
x = numbers.pop()
print(x)
print(numbers)

IndexError: pop from empty list

In [54]:
x

29

In [71]:
numbers = [29, 67, 45, 3, 89, 90]

In [72]:
poppedList = []

In [70]:
poppedElement = numbers.pop()
poppedList.append(poppedElement)
print(numbers)
print(poppedList)

IndexError: pop from empty list

In [79]:
if len(numbers) != 0:
    poppedList.append(numbers.pop())
    print(poppedList)
else:
    print('Your list is Empty')

Your list is Empty

In [80]:
list3 = [46, 89, 26, 3, 90]

In [81]:
len(list3) # to find length of list

5

# List in List

In [82]:
list4 = [19, 89,['apple', 'banana', 'orange'] ]
list4

[19, 89, ['apple', 'banana', 'orange']]

In [83]:
list4[2][2]

'orange'

In [85]:
fruits = ['orange', 'peach', 'apple', 'mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [86]:
students

['ali', 378, 'hussain', 'karachi', 'a', 56, 45, 2]

In [88]:
abc = [23, 89, 3,students, fruits, 'abcd']
abc

[23,
 89,
 3,
 ['ali', 378, 'hussain', 'karachi', 'a', 56, 45, 2],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [89]:
abc[4].remove('apple')
abc

[23,
 89,
 3,
 ['ali', 378, 'hussain', 'karachi', 'a', 56, 45, 2],
 ['orange', 'peach', 'mango'],
 'abcd']

In [90]:
del abc[3][3]
abc

[23,
 89,
 3,
 ['ali', 378, 'hussain', 'a', 56, 45, 2],
 ['orange', 'peach', 'mango'],
 'abcd']

# Slicing

In [93]:
#index     -6  -5  -4  -3 -2  -1
numbers = [29, 67, 45, 3, 89, 90]
#index     0    1  2   3  4   5

[29, 67, 45, 3, 89, 90]

In [95]:
numbers[-5]

67

In [96]:
numbers[1:3] # [included : not included]

[67, 45]

In [97]:
numbers[1:4]

[67, 45, 3]

In [98]:
numbers[1:5:2]

[67, 3]

In [99]:
print(numbers)

[29, 67, 45, 3, 89, 90]

In [100]:
numbers = [29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

In [102]:
print(numbers)
numbers[1:10:2]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[67, 3, 90, 23, 4]

In [103]:
print(numbers)
numbers[1:10:3]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[67, 89, 23]

In [104]:
numbers

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

In [105]:
numbers[:7]

[29, 67, 45, 3, 89, 90, 4]

In [106]:
numbers[3:]

[3, 89, 90, 4, 23, 56, 4]

In [108]:
numbers[::2]

[29, 45, 89, 4, 56]

In [109]:
numbers[7:3]

[]

In [111]:
print(numbers)
numbers[-5:-1]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[90, 4, 23, 56]

In [112]:
print(numbers)
numbers[-1:-5]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[]

In [114]:
numbers[-1:-8:-1]

[4, 56, 23, 4, 90, 89, 3]