In [1]:
abc = [1,5,8,6,78,25,36]

In [2]:
abc[2:4]

[8, 6]

In [3]:
abc[3:]

[6, 78, 25, 36]

In [4]:
abc[:6]

[1, 5, 8, 6, 78, 25]

In [5]:
abc[::1]

[1, 5, 8, 6, 78, 25, 36]

In [6]:
abc[::2]

[1, 8, 78, 36]

In [7]:
abc

[1, 5, 8, 6, 78, 25, 36]

In [8]:
abc[-5:-1]

[8, 6, 78, 25]

In [9]:
abc[-1:-5]

[]

In [11]:
abc

[1, 5, 8, 6, 78, 25, 36]

In [10]:
abc[-1:-5:-1]

[36, 25, 78, 6]

# Tupples

In [12]:
#tupples are immutable
mytupple = (3,4,5,6,7)

In [13]:
type(mytupple)

tuple

In [14]:
len(mytupple)

5

In [17]:
del mytupple[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
mytupple[4]

7

In [19]:
mytupple[2:4]

(5, 6)

In [20]:
# all slicing rules of list are also applied to tupples as it is

In [21]:
#packing and unpacking in list and tupples

In [34]:
a = ("asad", "fahad", "asma", "hina")
#Packing

In [35]:
w,x,y,z = a
#unpacking

In [24]:
w

'asad'

In [25]:
x

'fahad'

In [26]:
y

'asma'

In [27]:
z

'hina'

In [29]:
rectangle=[100,200]

In [30]:
height, width = rectangle

In [31]:
height

100

In [32]:
width

200

# For Loops

In [39]:
#task: print your name ten times
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")

nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain

In [43]:
for a in range(5):
    print(a,"Nasir Hussain")

0 Nasir Hussain
1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain

In [44]:
for a in range(2,5):
    print(a,"Nasir Hussain")

2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain

In [45]:
for a in range(1,10,2):  #(start, end-1, step)
    print(a,"Nasir Hussain")

1 Nasir Hussain
3 Nasir Hussain
5 Nasir Hussain
7 Nasir Hussain
9 Nasir Hussain

In [46]:
for a in range(0,10,2):
    print(a,"Nasir Hussain")

0 Nasir Hussain
2 Nasir Hussain
4 Nasir Hussain
6 Nasir Hussain
8 Nasir Hussain

In [49]:
for a in range(10,0,-1):
    print(a,"Nasir Hussain")

10 Nasir Hussain
9 Nasir Hussain
8 Nasir Hussain
7 Nasir Hussain
6 Nasir Hussain
5 Nasir Hussain
4 Nasir Hussain
3 Nasir Hussain
2 Nasir Hussain
1 Nasir Hussain

In [50]:
my_list = ["John" , "Ada" , "Lovelace"]
for i in my_list:
    print(i)

John
Ada
Lovelace

In [51]:
my_num = [2,4,5,8,10]
for i in my_num:
    print(i * 2)

4
8
10
16
20

In [52]:
my_num = [2,4,5,8,10]
my_new_list = []
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [55]:
for i in range(6):
    print(i)
    if i ==3:
        print(i*2)

0
1
2
3
6
4
5

In [56]:
#Break
#Continue
#Pass

In [58]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

In [59]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [62]:
for i in range(5):
    pass

In [63]:
#Take Input from User and Print Table
#of that Number in the following Format
#2 x 1 = 2

In [66]:
table = int(input("Enter a Table Num: "))
for i in range(1,11):
    print(f"{table} x {i} = {table * i}")

Enter a Table Num5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [68]:
for a in "Pakistan":
    for b in range(5):
        print(a , b)

P 0
P 1
P 2
P 3
P 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [72]:
f_name = ["BlueRay ", "Upchuck ", "Lojack ", 
          "Gizmo ", "Do-Rag "]

l_name = ["Zzz", "Burp", "Dogbone", "Droop"]

full_name = []

for f in f_name:
    for l in l_name:
        full_name.append(f + " " + l )
full_name

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [73]:
#CHANGING CASE

In [74]:
"pakistan".upper()

'PAKISTAN'

In [75]:
"PAKISTAN".lower()

'pakistan'

In [76]:
sl_str = "Pakistan Zindabad"
len(sl_str)

17

In [77]:
sl_str[5:11]

'tan Zi'

In [78]:
sl_str[5:]

'tan Zindabad'

In [79]:
sl_str[:11]

'Pakistan Zi'

# Dictionaries

dictionary work on key value pair

In [80]:
# defintion:
adict = {}

In [81]:
type(adict)

dict

In [82]:
len(adict)

0

In [94]:
bDict = {'city':"Khi", "pop":"30M" }
#           
bDict

{'city': 'Khi', 'pop': '30M'}

In [87]:
#adding values to a dictionry

adict['name']="Hamza Khan"
adict['age'] = 34
adict['contact']="45645789"

In [88]:
adict

{'name': 'Hamza Khan', 'age': 34, 'contact': '45645789'}

In [89]:
adict["age"]

34

In [91]:
del adict["age"]

In [92]:
adict

{'name': 'Hamza Khan', 'contact': '45645789'}

# Khud karna hy

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# 34-Creating a list of dictionaries

In [112]:
ekList = [23,45,6,{"fruit":"apple", "food":"biryani"}]

In [113]:
ekList[3]

{'fruit': 'apple', 'food': 'biryani'}

In [114]:
ekList[3]['food']

'biryani'

In [115]:
"age" in adict

True